{% extends "layouts/base.html" %}

{% block title %} Nuclei Templates {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{{ target_file }}
<style>
.tfp-1 {
  background-color: white;
}
.tfp0 {
  background-color: gray;
}
.tfp1 {
  background-color: orange;
}
</style>
<b> Refresh Nuclei Templates</b>
<td>
  <form class="navbar-form" action="vd-nuclei-templates" method="post">
    {%csrf_token%}
 <input type="hidden" name="nuclei_action" value="refresh">
 <button type="submit" class="btn btn-white btn-round btn-just-icon"  rel="tooltip" title="Reresh Nuclei templates data" data-original-title="Reresh Nuclei templates">
   <i class="material-icons">refresh status</i>
   <div class="ripple-container"></div>
 </button>
 </form>
</td>

<!-- <tr>
<b>Nuclei Templates Blacklist:</b>Multiple files allowed as blacklist
<form class="navbar-form" action="vd-export" method="post" style="display: inline;">
	{%csrf_token%}
          <span class="bmd-form-group"><div class="input-group no-border">
 <input type="hidden" name="model" value="nucleitemplates">
          <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">system_update_alt</i>
          <div class="ripple-container"></div>
          </button>
          </div></span>
</form>
</tr> -->

<tr>
<b> Search in Nuclei templates </b>
 <table width="100%">
 <tr>
 <td>
 <form class="navbar-form" action="vd-nuclei-templates" method="post" style="display: inline;">
 			{%csrf_token%}
             <span class="bmd-form-group"><div class="input-group no-border">
             Include: &nbsp;  &nbsp;<input type="text" name='results_search' value="{{ results_search }}" class="form-control" placeholder="New regex query">
             Exclude:  &nbsp;  &nbsp;<input type="text" name='results_exclude' value="{{ results_exclude }}" class="form-control" placeholder="Exclude regex query">
            <input type="hidden" name="nuclei_action" value="filter">
             <button type="submit" class="btn btn-white btn-round btn-just-icon" rel="tooltip" title="" data-original-title="Search">
             <i class="material-icons">search</i>
             <!-- <div class="ripple-container"></div> -->
             </button>
             </div></span>
</form>
<!-- {% if show_save %}
Save Your Search:
 <form class="navbar-form" action="vd-nuclei-templates" method="post" style="display: inline;">
 			{%csrf_token%}
             <span class="bmd-form-group"><div class="input-group no-border">
             <input type="hidden" name='regexp_query' value="{{ results_search }}" class="form-control">
             <input type="hidden" name='regexp_exclude' value="{{ results_exclude }}" class="form-control">
             <input type="text" name='regexp_name' value="" class="form-control" placeholder="Title for your RegExp">
             <input type="text" name='regexp_info' value="" class="form-control" placeholder="Description">
			 <input type="hidden" name="nuclei_action" value="save_regexp">
             <button type="submit" class="btn btn-white btn-round btn-just-icon" rel="tooltip" title="" data-original-title="Save search">
             <i class="material-icons">save</i>
             <div class="ripple-container"></div>
             </button>
             </div></span>
</form>
{% endif %} -->
</td>
</tr>
</table>
</tr>

<a id="templatelist"></a>
<table width="100%">
<tr>
<td>
 Objects: [{{ query_count }}]
 </td>
<td>
<form class="navbar-form" action="vd-nuclei-templates#templatelist" method="post" style="display: inline;">
 			{%csrf_token%}
             <span class="bmd-form-group"><div class="input-group no-border">
             <input type="hidden" name='results_search' value="{{ results_search }}">
			 <!-- <input type="hidden" name="nuclei_action" value="filter"> -->
			 <input type="hidden" name="page" value="{{ query_page_prev }}">
             <button type="submit" class="btn btn-white btn-round btn-just-icon"  rel="tooltip" title="" data-original-title="Previous page">
             <i class="material-icons">skip_previous</i>
             <div class="ripple-container"></div>
             </button>
             </div></span>
</form>
</td>
<td>
 Page [{{ query_page }}]
</td>
<td>
<form class="navbar-form" action="vd-nuclei-templates#templatelist" method="post" style="display: inline;">
 			{%csrf_token%}
             <span class="bmd-form-group"><div class="input-group no-border">
             <input type="hidden" name='results_search' value="{{ results_search }}">
			 <!-- <input type="hidden" name="nuclei_action" value="filter"> -->
			 <input type="hidden" name="page" value="{{ query_page_next }}">
             <button type="submit" class="btn btn-white btn-round btn-just-icon" rel="tooltip" title="" data-original-title="Next page">
             <i class="material-icons">skip_next</i>
             <div class="ripple-container"></div>
             </button>
             </div></span>
</form>
</td>
</tr>
</table>

 <!-- Main Form to save the whole list -->
                       <!-- <form method="post" action="vd-nuclei-templates" style="display: inline;">
                       {%csrf_token%}
                         <input type="hidden" name="name" value="{{ item.name }}">
                         <input type="hidden" name="vulnerability" value="{{ item.vulnerability }}">
                         <input type="hidden" name="nuclei_action" value="blacklist"> -->
<!-- The form will continue at the bottom -->

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Templates List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>
                          Template ID
                        </th>
                        <th>
                          Description
                        </th>
                        <th style="text-align: center;">
                          Enabled
                        </th>
                        <th>
                          Get YAML file
                        </th>
                      </thead>
                      <tbody>
 {% for item in query_results %}
                        <tr>
                          <td>
                            {{ item.template_id }}
                          </td>
                          <td>
                            <span onclick="row = document.getElementById('metadata-{{ item.template }}'); if (row.style.display=='none') {row.style.display='';}else{row.style.display='none';}" style="display: inline;">
                              {{ item.name }}
                            </span>
                          </td>
                          <td align="center">
                            <input type="checkbox" name="{{ item.template }}" {{ item.enabled }}>
                          </td>  
                          <td colspan=10 id="metadata-{{ item.template }}">
                              <form onsubmit="return scroll_position()" class="navbar-form" action="vd-nuclei-templates" method="post" style="display: inline;">
                                {%csrf_token%}
                                <span class="bmd-form-group"><div class="input-group no-border">
                                    <input type="hidden" id="template_file" name='template_file' value="{{ item.template }}" class="form-control">
                                    <input type="hidden" name="page" value="{{ query_page }}">
                                    <input type="hidden" name='results_search' value="{{ results_search }}" class="form-control">
                                    <input type="hidden" name='results_exclude' value="{{ results_exclude }}" class="form-control">
                                        <button type="submit" class="btn btn-white btn-round btn-just-icon"  rel="tooltip" title={{ item.template }} data-original-title="Get template">
                                        <i class="material-icons">assignment</i>
                                        </button>
                                </div></span>
                              </form>
                            </td>
                            </tr>
                            {% if file_content %}
                            {% if file_content.file == item.template %}
                            <tr>
                              <td colspan=4 id="filecontent-{{ item.template }}" style="text-align: left;">
                                <pre style="white-space: pre-wrap;">
                                  {{ file_content | linebreaks }}
                              </pre>
                              </td>
                            </tr>
                            {% endif %}
                            {% endif %}
{% endfor %} 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

<!-- Here we end the main blacklist form -->
		<button type="submit" rel="tooltip" title="" class="btn btn-white btn-round btn-just-icon" data-original-title="Save Selection">
           	<i class="material-icons">save</i>
       	</button>
        </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

  function scroll_position() {
      // console.log("form submit")
      var file_name = $('#template_file').val()
      // console.log(file_name)
      // make sure the form is related to displaying file content
      if (file_name) {
        // console.log("inside if")
        // var pos = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        var pos = $(this).scrollTop()
        localStorage.setItem('my-scroll-pos', pos)
        // console.log(pos)
      }
    return true; // need to continue with form submission, if returned false, it stops from post
  }

  $(document).ready(function (){
    var pos = localStorage.getItem('my-scroll-pos')
    // console.log(pos)
    if (pos)
      $(document).scrollTop(pos)
      // window.scrollTo(0, pos)
      localStorage.removeItem('my-scroll-pos'); // to clear local storage
  });

</script>
{% endblock javascripts %}
